<div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 form-body">
        <div class="login-form">
          <div class="text-center login-logo">
            <img src="../../assets/images/login-page-logo.png" alt="ATHEEB GROUP Logo" class="logo" />
          </div>
          <form>
            <div class="form-group" style="padding-top: 10px; padding-bottom: 5px;">
                <input
                  type="text"
                  class="form-control"
                  id="fullname"
                  placeholder="Full Name"
                />
              </div>
            <div class="form-group" style="padding-top: 10px; padding-bottom: 5px;">
              <!-- <label for="email">Email</label> -->
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Email"
              />
            </div>
            <div class="form-group" style="padding-top: 10px; padding-bottom: 5px; position: relative;">
                <!-- <label for="password">Password</label> -->
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="Password"
                />
                <img src="../../assets/fonts/hide-pass.svg" alt="Show/Hide Password" class="password-toggle">
              </div>
            <div class="form-group" style="padding-top: 10px; padding-bottom: 8px; position: relative;">
              <!-- <label for="password">Password</label> -->
              <input
                type="password"
                class="form-control"
                id="retypePassword"
                placeholder="Retype Password"
              />
              <img src="../../assets/fonts/hide-pass.svg" alt="Show/Hide Password" class="password-toggle">
            </div>
            <div class="checkbox remember-pass">
              <label> <input type="checkbox" /> I agree to the terms and conditions for use. </label>
            </div>
            <button type="submit" class="btn btn-success btn-block">
              Sign Up
            </button>
          </form>
          <div class="text-center login-footer">
            <p>Already have an account? <a href="#">Sign In Now</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
