<!-- header -->
<header class="site-head" id="site-head">
    <div class="toolbar-left">
      <div class="title-container menu-icon">

        <span class="title">
          <!-- <a href="javascript:;" class="nav-trigger ion ion-drag"></a> -->
          <a href="javascript:;" class="nav-trigger ion ion-drag" style="color: white;" (click)="toggleSidebar()"></a>
          <span>ATHEEB INFORMATION MANAGEMENT SYSTEM</span>
        </span>
      </div>
    </div>
    <span class="example-spacer"></span>
    <div class="toolbar-right" >
        <button mat-icon-button class="icon-button">
            <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button class="icon-button">
            <mat-icon>account_circle</mat-icon>
        </button>
        <button mat-icon-button class="icon-button">
            <!-- <mat-icon>menu</mat-icon> -->
            <img src="../../assets/fonts/widgetIcon.svg" alt="Icon"/>
        </button>
    </div>
  </header>
  <!-- #end header -->
<!-- #end header -->