<div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 form-body">
        <div class="login-form">
          <div class="text-center login-logo">
            <img src="../../assets/images/login-page-logo.png" alt="ATHEEB GROUP Logo" class="logo" />
          </div>
          <h3 class="text-center">Sign In to Dashboard</h3>
          <form>
            <div class="form-group" style="padding-top: 10px; padding-bottom: 10px;">
              <!-- <label for="email">Email</label> -->
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Email"
              />
            </div>
            <div class="form-group" style="padding-top: 10px; padding-bottom: 10px; position: relative;">
              <!-- <label for="password">Password</label> -->
              <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
              />
              <img src="../../assets/fonts/hide-pass.svg" alt="Show/Hide Password" class="password-toggle">

              <!-- <span
                class="glyphicon glyphicon-eye-open form-control-feedback"
              ></span> -->
            </div>
            <div class="checkbox remember-pass">
              <label> <input type="checkbox" /> Remember me </label>
              <a href="#" class="pull-right">Forgot your password?</a>
            </div>
            <button type="submit" class="btn btn-success btn-block">
              Sign In
            </button>
          </form>
          <div class="text-center login-footer">
            <p>Don't have an account? <a href="#">Create Now</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
