<div id="app" class="app off-canvas">
   <!-- main-container -->
   <div class="main-container clearfix">
     <!-- main-navigation -->
     <!-- <app-sidebar></app-sidebar> -->
     <!-- #end main-navigation -->

     <!-- content-here -->
    <div class="content-container" id="content">
       <!-- dashboard page -->
       <div class="page page-dashboard">
         <div class="page-wrap">

           <!-- mini boxes -->
           <div class="row">
             <div class="col-md-3 col-sm-6">
               <div class="panel panel-default mb20 mini-box panel-hovered">
                 <div class="panel-body">
                   <div class="clearfix">
                     <div class="info left">
                        <h4 class="mt0 text-blue text-bold" id="documentCountDisplay">{{ fileCounts.documents || 0 }}</h4>

                       <!-- <h5 class="class=mt0 text-info text-bold" id="documentCountDisplay"></h5> -->
                       <h5 class="text-light mb0">Documents</h5>
                     </div>
                     <div class="right ion">
                        <img src="../../assets/fonts/cartIcon1.png" alt="Documents-icon"/>
                     </div>
                   </div>
                 </div>
                 <div
                   class="panel-footer clearfix panel-footer-sm panel-footer-primary"
                 >
                   <p class="mt0 mb0 left">Count</p>
                 </div>
               </div>
             </div>

             <div class="col-md-3 col-sm-6">
               <div class="panel panel-default mb20 mini-box panel-hovered custom-margin-bottom">
                 <div class="panel-body-tags">
                   <div class="clearfix">
                     <div class="info left">
                        <h4 class="mt0 text-green text-bold" id="equipmentCountDisplay">{{ fileCounts.tags || 0 }}</h4>

                       <h5 class="text-light mb0">Tags</h5>
                     </div>
                     <div class="right ion icon">
                        <img src="../../assets/fonts/cartIcon2.png" alt="Tags-icon"/>
                     </div>
                   </div>
                 </div>
                 <div
                   class="panel-footer clearfix panel-footer-sm panel-footer-success"
                 >
                   <p class="mt0 mb0 left">Count</p>
                 </div>
               </div>
             </div>

             <div class="col-md-3 col-sm-6">
               <div class="panel panel-default mb20 mini-box panel-hovered">
                 <div class="panel-body">
                   <div class="clearfix">
                     <div class="info left">
                        <h4 class="mt0 text-orange text-bold">{{ fileCounts.workflow || 0 }}</h4>
                       <h5 class="text-light mb0">Workflow</h5>
                     </div>
                     <div class="right ion">
                        <img src="../../assets/fonts/cartIcon3.png" alt="Documents-icon"/>
                     </div>
                   </div>
                 </div>
                 <div
                   class="panel-footer clearfix panel-footer-sm panel-footer-info"
                 >
                   <p class="mt0 mb0 left">Count</p>
                 </div>
               </div>
             </div>

             <div class="col-md-3 col-sm-6">
               <div class="panel panel-default mb20 mini-box panel-hovered">
                 <div class="panel-body">
                   <div class="clearfix">
                     <div class="info left">
                        <h4 class="mt0 text-red text-bold">{{ fileCounts.tag_relations || 0 }}</h4>
                       <h5 class="text-light mb0">Tag Relation</h5>
                     </div>
                     <div
                       class="right ion"
                     >
                     <img src="../../assets/fonts/cartIcon4.png" alt="Documents-icon"/>
                    </div>
                   </div>
                 </div>
                 <div
                   class="panel-footer clearfix panel-footer-sm panel-footer-pink"
                 >
                   <p class="mt0 mb0 left">Count</p>
                 </div>
               </div>
             </div>
             <!-- #end mini boxes -->
           </div>
           <!-- #end row -->

           <div class="chart-container">
            <!-- Bar Chart -->
            <div class="chart-wrapper">
              <div class="chart-box">
                
                <!-- <p>Documents</p> -->
                <div class="chart-header">
                    <div class="search-box">
                      <input type="text" placeholder="DOCUMENTS..." />
                      <i class="fa fa-search search-icon"></i>
                    </div>
                    <div class="bar-chart-list p-2">
                      <select>
                        <option value="chart1">BAR CHART</option>
                        <option value="chart2">BAR CHART 2</option>
                        <option value="chart3">BAR CHART 3</option>
                      </select>
                    </div>
                  </div>
                <!-- <div class="chart-info">Documents</div> -->
                <canvas id="barChart"></canvas>
                <div class="chart-label">Doc Type</div>
              </div>
            </div>
          
            <!-- Line Chart -->
            <div class="chart-wrapper">
              <div class="chart-box">
                
                <!-- <p>Tags</p> -->
                <div class="chart-header">
                    <div class="search-box">
                      <input type="text" placeholder="TAGS..." />
                      <i class="fa fa-search search-icon-tags"></i>
                    </div>
                    <div class="bar-chart-list p-2">
                      <select>
                        <option value="chart1">LINE CHART</option>
                        <option value="chart2">LINE CHART 2</option>
                        <option value="chart3">LINE CHART 3</option>
                      </select>
                    </div>
                </div>
                <!-- <div class="chart-info2">Tags</div> -->
                <canvas id="lineChart"></canvas>
                <div class="chart-label">Tag Type</div>
              </div>
            </div>
          </div>
           
        <div class="row">

            <!-- profile -->
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default mb20 panel-hovered profile-widget">
                    <div class="panel-body">
                        <div class="clearfix mb15 top-info">
                            <div class="left-side">
                                <h2 class="text-light mt0">Tag Relation</h2>
                                <p><strong>About:&nbsp;</strong>Relationship Between Tags and Documents</p>
                            </div>
                            <div class="right-side">
                                <img src="../../assets/images/tag.png" alt="tag">
                            </div>
                        </div>
                        <ul class="user-badges list-unstyled row">
                            <li class="col-xs-4">
                                <img src="../../assets/fonts/TagRltn1.svg" alt="Tag Relation" class="icon-tagRelation"/>
                                <strong>{{ tagRelations.equipment || 0 }}</strong>
                                <button class="btn btn-success btn-xs mt15">Equepment</button>
                            </li>
                            <li class="col-xs-4">
                                <img src="../../assets/fonts/TagRltn2.svg" alt="Tag Relation" class="icon-tagRelation"/>
                                <strong>{{ tagRelations.instruments || 0 }}</strong>
                                <button class="btn btn-info btn-xs mt15">Instruments</button>
                            </li>
                            <li class="col-xs-4">
                                <img src="../../assets/fonts/TagRltn3.svg" alt="Tag Relation" class="icon-tagRelation"/>
                                <strong>{{ tagRelations.pipelines || 0 }}</strong>
                                <button class="btn btn-primary btn-xs mt15">Pipelines</button>
                            </li>
                        </ul>
                    </div> <!-- #end panel-body -->
                </div>
            </div>

            <!-- browser share -->
            <div class="col-md-4 col-sm-6">
                <div class="panel panel-default mb20 panel-hovered">
                    <div class="panel-heading">
                        <div class="chart-header">
                            <div class="doughnut-search-box">
                              <span class="text">FILES</span>
                            </div>
                            <div class="bar-chart-list p-2">
                              <select>
                                <option value="chart1">DOUGHNUT CHART</option>
                                <option value="chart2">DOUGHNUT CHART 2</option>
                                <option value="chart3">DOUGHNUT CHART 3</option>
                              </select>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body text-center">
                        <!-- <div id="c3chartbrowsershare"></div> -->
                        <canvas id="doughnutChart"></canvas>
                    </div>
                </div>
            </div>

            
            <!-- list widgets -->
            <div class="col-md-4 col-sm-12">
                <div class="panel panel-default mb20 list-widget">
                    <ul class="list-unstyled clearfix">
                        <li>
                            <!-- <i class="fa fa-file-o"></i> -->
                            <img src="../../assets/fonts/‌listicn1.svg" alt="">
                            <span class="text">File List</span>
                            <span class="badge badge-xs badge-primary right">{{ overallLists.file_list || 0 }}</span>
                        </li>
                        <li>
                            <img src="../../assets/fonts/‌listicn2.svg" alt="">
                            <span class="text">Documents</span>
                            <span class="badge badge-xs badge-info right">{{ overallLists.documents || 0 }}</span>
                        </li>
                        <li>
                            <img src="../../assets/fonts/list3.1.svg" alt="">
                            <span class="text">Tags</span>
                            <span class="badge badge-xs badge-success right">{{ overallLists.tags || 0 }}</span>
                        </li>
                        <li>
                            <img src="../../assets/fonts/‌listicn3.svg" alt="">
                            <span class="text">Tag Relation</span>
                            <span class="badge badge-xs badge-danger right">{{ overallLists.tag_relation || 0 }}</span>
                        </li>
                        <li>
                            <img src="../../assets/fonts/‌listicn4.svg" alt="">
                            <span class="text">Workflows</span>
                            <span class="badge badge-xs badge-info circle right">{{ overallLists.worflow || 0 }}</span>
                        </li>
                        <li>
                            <img src="../../assets/fonts/‌listicn5.svg" alt="">
                            <span class="text">Document Types</span>
                            <span class="badge badge-xs circle badge-warning right">{{ overallLists.document_type || 0 }}</span>
                        </li>
                        <li>
                            <img src="../../assets/fonts/‌listicn6.svg" alt="">
                            <span class="text">Tag Types</span>
                            <span class="badge badge-xs circle badge-danger right">{{ overallLists.tag_type || 0 }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
             
         </div>
         <!-- #end page-wrap -->
     </div>
     <!-- #end dashboard page -->
    </div>
    <!-- #end main-container -->
   
    <!-- theme settings -->
    <div class="site-settings clearfix hidden-xs">
        <div class="settings clearfix">
          <div class="trigger ion ion-settings left"></div>
          <div class="wrapper left">
            <ul class="list-unstyled other-settings">
              <li class="clearfix mb10">
                <div class="left small">Nav Horizontal</div>
                <div class="md-switch right">
                  <label>
                    <input type="checkbox" id="navHorizontal" />
                    <span>&nbsp;</span>
                  </label>
                </div>
              </li>
              <li class="clearfix mb10">
                <div class="left small">Fixed Header</div>
                <div class="md-switch right">
                  <label>
                    <input type="checkbox" id="fixedHeader" />
                    <span>&nbsp;</span>
                  </label>
                </div>
              </li>
              <li class="clearfix mb10">
                <div class="left small">Nav Full</div>
                <div class="md-switch right">
                  <label>
                    <input type="checkbox" id="navFull" />
                    <span>&nbsp;</span>
                  </label>
                </div>
              </li>
            </ul>
            <hr />
            <ul class="themes list-unstyled" id="themeColor">
              <li data-theme="theme-zero" class="active"></li>
              <li data-theme="theme-one"></li>
              <li data-theme="theme-two"></li>
              <li data-theme="theme-three"></li>
              <li data-theme="theme-four"></li>
              <li data-theme="theme-five"></li>
              <li data-theme="theme-six"></li>
              <li data-theme="theme-seven"></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- #end theme settings -->
  
      <!-- Include Chart.js Library -->
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
      
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>
</div>