<div class="main-container clearfix" [class.collapsed]="isCollapsed">
    <aside class="nav-wrap" id="site-nav" data-perfect-scrollbar>
        <div class="nav-head">
            <a href="javascript:;" class="site-logo text-uppercase">
                <img src="../../assets/images/logo.png" class="logo" />
            </a>
        </div>
        <!-- Site nav (vertical) -->

        <nav class="site-nav clearfix" role="navigation">
        <div class="profile clearfix mb15">
            <img src="../../assets/images/admin-logo.png" class="admin" />
            <div class="group user-info">
              <span class="user-name">Rafi</span>
              <span class="user-role">ADMIN</span>             
            </div>
        </div>

        <!-- navigation -->
        <ul class="list-unstyled clearfix nav-list mb15">
            <li class="active">
            <a href="index.html">
                <i class="ion ion-monitor"></i>
                <span class="text">Dashboard</span>
            </a>
            </li>


            <li>
            <a href="javascript:;">
                <i class="ion ion-document-text"></i>
                <span class="text">Documents</span>
                <i class="arrow ion-chevron-left"></i>
            </a>
            <ul class="inner-drop list-unstyled">
                <li>
                    <img src="../../assets/fonts/searchIcn.svg" alt="Icon" class="icon" />
                    <a href="tables.html">SEARCH</a>
                </li>
                <li>
                    <img src="../../assets/fonts/searchIcn.svg" alt="Icon" class="icon" />
                    <a href="#">ADVANCED SEARCH</a>
                </li>
                <li>
                    <img src="../../assets/fonts/importIcn.svg" alt="Icon" class="icon" />
                    <a href="#">CREATE DOCUMENT</a>
                </li>
                <li>
                    <img src="../../assets/fonts/createIcn.svg" alt="Icon" class="icon" />
                    <a href="#">IMPORT DOCUMENT</a>
                </li>
            </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <img src="../../assets/fonts/tagIcon.svg" alt="Icon" class="icon" />
                    <span class="text-tag">Tags</span>
                    <i class="arrow ion-chevron-left"></i>
                </a>
                <ul class="inner-drop list-unstyled">
                    <li>
                        <img src="../../assets/fonts/searchIcn.svg" alt="Icon" class="icon" />
                        <a href="tables.html">SEARCH</a>
                    </li>
                    <li>
                        <img src="../../assets/fonts/searchIcn.svg" alt="Icon" class="icon" />
                        <a href="#">ADVANCED SEARCH</a>
                    </li>
                    <li>
                        <img src="../../assets/fonts/importIcn.svg" alt="Icon" class="icon" />
                        <a href="#">CREATE DOCUMENT</a>
                    </li>
                    <li>
                        <img src="../../assets/fonts/createIcn.svg" alt="Icon" class="icon" />
                        <a href="#">IMPORT DOCUMENT</a>
                    </li>
                </ul>
            </li>
            <li class="list-data">
                <a href="gmap.html">
                    <img src="../../assets/fonts/sidenavIcon3.svg" alt="Icon" class="icon" />
                    <span class="text-data p-3">DATA EXPLORER</span>
                </a>
            </li>
          <li class="list-integration">
            <a href="gmap.html">
                <img src="../../assets/fonts/sidenavIcon4.svg" alt="Icon" class="icon" />
                <span class="text-integration p-3">INTEGRATION</span>
            </a>
          </li>
          <li class="list-workflow">
            <a href="gmap.html">
                <img src="../../assets/fonts/sidenavIcon5.svg" alt="Icon" class="icon" />
                <span class="text-workflow p-3">WORKFLOW</span>
            </a>
          </li>
          <li class="list-admin">
            <a href="gmap.html">
                <img src="../../assets/fonts/sidenavIcon6.svg" alt="Icon" class="icon" />
                <span class="text-admin p-3">ADMINISTRATION</span>
            </a>
          </li>
          <li class="list-help">
            <a href="gmap.html">
                <img src="../../assets/fonts/sidenavIcon7.svg" alt="Icon" class="icon" />
                <span class="text-help p-3">HELP</span>
            </a>
          </li>
          <li class="list-about">
            <a href="gmap.html">
                <img src="../../assets/fonts/sidenavIcon8.svg" alt="Icon" class="icon"/>
                <span class="text-about p-3">ABOUT</span>
            </a>
          </li>
        </ul>
        </nav>

        <!-- nav-foot -->
        <footer class="nav-foot">
        <p>2024 &copy; <span>Atheeb</span></p>
        </footer>
    </aside>
</div>
